<header id="masthead">
  {% if logo %}
    <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" id="logo">
      <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
</header><!--/masthead-->

<section id="front-callout">

</section><!--/front-callout-->

<nav id="primary-navigation">
  {{ page.navigation }}
</nav>

<main id="page-content">
  {{ page.content }}
</main><!--page-content-->

<aside id="sidebar-first">
  {{ page.sidebar_first }}
</aside>

<footer id="footer">
  {{ page.footer }}
</footer>